@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if ((string)ViewData["Logged"] == "OK")
        {
            <a asp-controller="Users" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Users" asp-action="Login">Login</a>
            <a asp-controller="Users" asp-action="Register">Register</a>
        }
    </p>
</div>
