@model oop_CA.Models.Mark
@{
    ViewData["Title"] = "Create";
}

<h1>Add mark</h1>

<h4>New Mark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentId" class="control-label"></label>
                <input asp-for="studentId" class="form-control" />
                <span asp-validation-for="studentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <select asp-for="subject">
                    <option value="Maths">Math</option>
                    <option value="Physics">Physics</option>
                    <option value="Programming">Programming</option>
                    <option value="Electronics">Electronics</option>
                    <option value="English">English</option>
                </select>
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coefficient" class="control-label"></label>
                <input asp-for="coefficient" class="form-control" />
                <span asp-validation-for="coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacherComment" class="control-label"></label>
                <input asp-for="teacherComment" class="form-control" />
                <span asp-validation-for="teacherComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mark" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>