@model oop_CA.Models.ChangePasswordModel;
@{
    ViewData["Title"] = "User - Change Password";
}
<h1>Change password</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="changePasswordFunction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" />
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmedNewPassword" class="control-label"></label>
                <input asp-for="confirmedNewPassword" class="form-control" />
                <span asp-validation-for="confirmedNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to index</a>
</div>