user index page

@if ((string)ViewData["Logged"] == "OK")
{
    <a asp-action="Logout">Logout</a>
    <a asp-action="Manage">Manage</a>
    <a asp-action="Update">Update</a>
}
else
{
    <a asp-action="Login">Login</a>
    <a asp-action="Register">Register</a>
}
