@model oop_CA.Models.User;
@{
    ViewData["Title"] = "User - Register";
}
<h1>Create</h1>
<h4>New User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="registerUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="groupId" class="control-label"></label>
                <input asp-for="groupId" class="form-control" />
                <span asp-validation-for="groupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstname" class="control-label"></label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userType" class="control-label"></label>
                <select>
                    <option value="STUDENT">Student</option>
                    <option value="TEACHER">Teacher</option>
                    <option value="ADMIN">Admin</option>
                </select>
                <input asp-for="userType" class="form-control" />
                <span asp-validation-for="userType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accessLevel" class="control-label"></label>
                <input asp-for="accessLevel" class="form-control" />
                <span asp-validation-for="accessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountToPay" class="control-label"></label>
                <input asp-for="amountToPay" class="form-control" />
                <span asp-validation-for="amountToPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payedAmount" class="control-label"></label>
                <input asp-for="payedAmount" class="form-control" />
                <span asp-validation-for="payedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to index</a>
</div>